* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

.calculator {
    background-color: #d4d4d4;
    box-shadow: 32 10 30px rgba(255, 247, 247, 0.8);
    padding: 25px;
    width: 100%;
    border-radius: 10px;
    max-width: 350px;
    height: 100%;
    max-height: 500px;
}
.calculator input{
    outline: none;
    overflow:visible;
}
.calculator_display {
    background-color: #f1f1f1;
    border: 1px solid #7c7c7c;
    padding: 0.9rem;
    border-radius: 10px;
    width: 100%;
    text-align: right;
    font-size: larger;
    font-weight: 500;
}

.calculator__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.calculator__buttons .row {
    display: flex;
    width: 100%;
    gap: 10px;
}

.calculator__buttons button {
    background-color: #abababe0;
    color: white;
    border: none;
    font-size:1.4rem;
    width: 100%;
    border-radius: 10px;
    padding: 12px 0px;
    height: 100%;
}